body {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', sans-serif;
}

/*Handling nav bar items and styling for them*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: 0.5px solid darkgrey;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}
/*Nav bar individual items*/
.nav-item {
    color: black;
    padding: 0.1em 0.625em; 
    text-decoration: none;
    font-weight: bold;
    font-size: calc(0.9em + 0.5vw); 
    position: relative;
}


/* Dropdown styles and content*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 100;
}
/*All a elements in drop*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.nav-item.dropdown:hover .dropdown-content {
    display: block;
}


/*Adding and removing blur affect and transitioning it in and out*/
.no-blur {
    filter: none;
}
body.blurred > :not(.navbar) {
    filter: blur(2px);
    transition: filter 0.5s ease;
}
body > :not(.navbar) {
    transition: filter 0.5s ease;
}